<p id="notice"><%= notice %></p>
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3>
							let your skin shine
						  </h3>
						<h5>with
							<span>leCharme</span>
						</h5>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3> </h3>

					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3>ByThanh	& Pinar</h3>
						<h5>

						</h5>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3>Skin & Hair Care </h3>
						<h5>2019
							<span>leCharme</span>
						</h5>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>


<section class="banner-bottom-w3ls-agileinfo">
		<!-- Portfolio -->
		<div class="portfolio" id="portfolio">
			<div class="container">
				<h3 class="tittle text-center">girls have glitter in their veins</h3>
				<div class="inner-sec-wthree-agileits">

					<ul class="portfolio-categ filter text-center mb-lg-5 mb-3">
						<li class="port-filter all active">
							<a href="#">All</a>
						</li>

					</ul>


					<ul class="portfolio-area clearfix">

     <% @blogs.each do |blog| %>
     <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
							<div>
								<span class="image-block">
<a class="image-zoom" href='<%= url_for(blog.image)  %>' data-gal="prettyPhoto[gallery]">


										<%= image_tag(blog.image, :class => "img-fluid rounded", style: 'height:250px;width:250px;') %>

									</a>
                     <p><%= blog.description %></p>
								</span>
							</div>
						</li>
    <% end %>








					</ul>

					<!--end portfolio-area -->
				</div>
			</div>
		</div>
	</section>




<br>
